<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<!--
<script type="text/javascript" src="/media/js/protovis-3.2/protovis-d3.2.js"></script>
<script type="text/javascript" src="/media/js/jquery-1.4.4.js"></script>
<script type="text/javascript" src="/media/js/raphael/raphael.js"></script>
<script type="text/javascript" src="/media/js/raphael/g.raphael.js"></script>
<script type="text/javascript" src="/media/js/raphael/g.bar.js"></script>
-->

<!-- <script type="text/javascript" src="/media/js/charts/histogram2.js"></script> -->

<script type="text/javascript" src="/site_media/js/flot/flot-read-only/jquery.js"></script>
<script type="text/javascript" src="/site_media/js/flot/flot-read-only/jquery.flot.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.sparkline.js"></script>

<style type="text/css">
body {
	font-family: Arial;
	font-size: 13px;
}

#fig {
  width: 600px;
  height: 300px;
}
#wrapper {
	width:600px;
	margin: 0 auto;
}
#wrapper table {
	width:550px;
	margin:10px 25px;
	border:1px solid #AAA;
	text-align: center;
}
#wrapper table thead tr{
	background:#AAA;
	text-align: center;
}
#wrapper table tbody tr:nth-child(odd){

	background-color: #d5edff;

}
#wrapper table tbody td.teamCell {
	text-align: left;
}

</style>

</head>

<body>

<div id="wrapper">
<div id="fig"></div>
<h2>Home Run Leaders</h2>
<table border="0" cellpadding="4" cellspacing="0">
	<thead>
		<tr>
			<td>Player</td>
		</tr>
	</thead>
	<tbody>
	    {% for leader in homeRunLeaders %}
	    <tr>
	        <td class="teamCell"><a href="/mlb/player/{{ leader.Player.PlayerID }}/">{{ leader }}</a></td>
	    </tr>
	    {% endfor %}
	    
	</tbody>
</table>

<table border="0" cellpadding="4" cellspacing="0">
	<thead>
		<tr>
			<td>First Name</td>
			<td>Last Name</td>
		</tr>
	</thead>
	<tbody>
	    {% for player in players %}
	    <tr>
	        <td class="teamCell"><a href="/mlb/player/{{ player.PlayerID }}/">{{ player.FirstName }}</a></td>
	        <td>{{ player.LastName }}</td>
	    </tr>
	    {% endfor %}
	    
	</tbody>
</table>
</div>
    
    
    AVG: {{ marginAvg }}
    {{ tieListJSON }}
    
    {{ teamStatsJSON }}
    
    {{ marginListJSON }}
    <br />
    
    {{ marginsByTeamJSON }}
    <br />
    leagueSpreads {{ leagueSpreadsJSON }}
    
</body>
</html>



