<table border="0" cellpadding="4" cellspacing="0" id="leaderCareers">
	<thead>
		<tr>
			<td>Rank</td>
			{% for field in playerBattingCareerFields %}
				{% if field.fieldName != 'GamesBatting' %}
					<td><a href="#" class="chartStat" field="{{ field.fieldName }}" longname="{{ field.longName }}">{{ field.abbrev }}</a></td>
				{% endif %}
			{% endfor %}
			
		</tr>
	</thead>
	<tbody>
	    {% for leaderRow in leaderStatsAndPTiles %}
		<tr>
			<td>{{ forloop.counter }}</td>
			{% for statDict in leaderRow %}
				{% if statDict.pTile != None %}
				<td pTile="{{ statDict.pTile }}" class="pTile">
				{% else %}
				<td>
				{% endif %}
				{{ statDict.stat|safe }}</td>
			{% endfor %}
			

	    </tr>
		{% endfor %}

	</tbody>
</table>
