body {
	margin: 0;
	font-family: Arial;
	font-size: 13px;
	background-color: #ddd;
	background-image: url('../images/bg.png');
}

#wrapper {
	width: 950px;
	margin: 0 auto;
	border: 1px solid #333;
	border-width: 0px 1px;
	background-color: #fff;
	
	box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #000;
}
#header {
	width:950px;
	height:92px;
	background:url('../images/header.jpg') bottom left no-repeat;
}
#nav {
	height: 18px;
	background: url('../images/nav.jpg') no-repeat;
	padding: 8px 42px;
	color: #DDD;
	font-size: 11pt;
	border-top: 1px solid #6c95c2;
	border-bottom: 1px solid #6c95c2;
	text-shadow: 2px 1px 2px #111111;
	
	box-shadow: 0px 2px 3px #111111;
	-moz-box-shadow: 0px 2px 3px #111111;
	-webkit-box-shadow: 0px 2px 3px #111111;
}
#nav ul, #nav li
{
	display: inline;
	list-style-type: none;
}
#nav ul { padding: 0px; }
#nav li { 
	margin-left: 10px;
	padding: 1px 8px;
}
#nav li.first { margin-left: 0px; }
#nav li.selected {
	border: 1px solid #6C95C2;
	
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	
	box-shadow: 0 0 2px #6C95C2;
    -moz-box-shadow: 0 0 2px #6C95C2;
    -webkit-box-shadow: 0 0 2px #6C95C2;
}
#nav li.disabled {
	-moz-box-shadow: none;
	text-shadow: none;
	color: #AAA;
}

#content {
	margin: 0 42px;
}
#fig {
  width: 870px;
  height: 250px;
}
#content table {
	width: 550px;
	margin: 10px 0px;
	border: 1px solid #AAA;
	text-align: center;
}
#content table thead tr{
	background: #AAA;
	text-align: center;
}
#content table tbody tr:nth-child(odd){
	background-color: #d5edff;

}
#content table tbody td.teamCell {
	text-align: left;
}

